footer.bg-dark.text-white.py-5
  .container-md
    .row.text-center
      each value, key in theme.footerMenu
        .col-md.text-lg-left.pt-4
          h4 #[b= key]
          ul.list-unstyled.footer-list
            each subvalor, subkey in value
              li: a(href=url_for(subvalor))= subkey

      .col-md-12.col-lg-4.text-lg-right.pt-4
        .icons
          a(href="https://www.facebook.com/Grupo-de-Complejidad-de-la-Universidad-Distrital-567936853231644", target="_blank", rel="noopener noreferrer")
            i.fab.fa-facebook-f
          a(href="https://twitter.com/complejidadud", target="_blank", rel="noopener noreferrer")
            i.fab.fa-twitter
          a(href="https://github.com/GrupoComplejidadUD", target="_blank", rel="noopener noreferrer")
            i.fab.fa-github
          a(href="https://www.youtube.com/channel/UCwMNplUJd2iBbNArsSeRsIQ", target="_blank", rel="noopener noreferrer")
            i.fab.fa-youtube
          a(href="mailto:complejidad@udistrital.edu.co")
            i.fas.fa-envelope
        .logos.py-3.d-flex.justify-content-center.justify-content-lg-end
          img(src=url_for('/icons/icon.png'), alt="Logo Complexud")
          img(src=url_for('/icons/udistrital_esc.png'), alt="Logo Complexud")
        .copyright.text-muted
          - var currentDate = new Date();
          - var currentYear = currentDate.getFullYear();
          - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
          - var copyrightURL = theme.copyright.url || config.url
          - var copyrightName = theme.copyright.name || config.author
          small &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]
            |  / Powered by #[a(href='https://hexo.io/', target='_blank') Hexo]
