extends base/layout.pug
block mainContent
  //- Cover Section
  section.info-header
    img.info-header-img(src=url_for('images/fondo-cover-min.jpeg'), alt='Header')
    .info-header-content
      .container
        .info-align-header
          h1.info-align-title #{config.title}
          p.info-align-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis praesentium repellat unde facere, similique amet?
          .btns-header
            a(href=url_for('about')).btn.btn-cta Conócenos
            a(href=url_for('members')).btn.btn-ghost Explora

  section.illutrations
    .container
      .row.illustration-section
        .col-10.col-md-4.order-md-2.py-3
          .illustration-info
            h2 Proyectos de Investigación
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dolorum dignissimos repellendus ad alias dolore minima, ullam sunt harum ipsam!
            a(href=url_for('about')).btn.btn-sec Ver Más
        .col-10.col-md-5.py-3
          img(src=url_for('images/proyectos.svg'), alt="proyectos")

      .row.illustration-section
        .col-10.col-md-4.py-3
          .illustration-info
            h2 Eventos Académicos
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dolorum dignissimos repellendus ad alias dolore minima, ullam sunt harum ipsam!
            a(href=url_for('about')).btn.btn-sec Ver Más
        .col-10.col-md-5.py-3
          img(src=url_for('images/eventos.svg'), alt="eventos")

      .row.illustration-section
        .col-10.col-md-4.order-md-2.py-3
          .illustration-info
            h2 Aprende con Nosotros
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dolorum dignissimos repellendus ad alias dolore minima, ullam sunt harum ipsam!
            a(href=url_for('about')).btn.btn-sec Ver Más
        .col-10.col-md-5.py-3
          img(src=url_for('images/aprende.svg'), alt="aprende")

    img(src=url_for('images/rectangle-curve.png'), alt="rectangle-curve").illustrations-foot

  section.sponsors
    each sp, spName in theme.sponsors
      .sponsor-info
        a(href=sp.url, target="_blank", rel="noopener noreferrer")
          img(src=url_for('images/aliados/' + sp.img), alt= spName)
